@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply h-5 w-5
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    .scrollbar-hidden{
      -ms-overflow-style: none; /* for Internet Explorer, Edge */
      scrollbar-width: none; /* for Firefox */
      overflow-y: scroll; 
    }
}